<div class="row">
    <table class="full-width">
        <thead>
            <tr>
                <th>Username</th>
                <th class="right">Delete Link</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(postId, post) in posts">
                <td>{{ post.name }}</td>
                <td class="right"><a href="#" ng-click="deletePost($index)">delete</a></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <form ng-submit="submitPost()">
        <input type="text" placeholder="Write username" ng-model="post.name" />
        <input class="button" type="submit" value="Add your username" />
    </form>
</div>